{% include "header.html" %}
    <div class="about-me row">
    <div class="about-me-text col-lg-6 col-md-12">
      <h1 class="big-heading">ABOUT ME</h1>
        <h3 class="about-me-description">Hi, I'm Erkam. I'm a multi-talented human with experience in building & developing successful websites. Addition to building websites, I have recent experiences in automation, game, app and web development, data science and machine learning. Powered by HTML5, CSS4, PyCharm, Bootstrap,  Selenium, Beautiful Soup, Request, Flask, Pandas, NumPy, Scikit Learn, Plotly, Matplotlib and a significant amount of  coffee. </h3>
    </div>
        <img class="about-me-image" src="static/images/profile-image.png" alt="profile-image">
    </div>
    </section>
    <div class="container-fluid" id="more">

    <section class="white-section" id="more-about-me-section">
    <div class="more-about-me row col-lg-12 col-md-12">
    <div class="about-text col-lg-6 col-md-12">
        <h1 class="big-heading">MORE</h1>
        <h3 class=about-me-description"> Besides coding, I am a professional basketball player for Santa Cruz de Tenerife CB in Spain's EBA League. Thanks to basketball, I had an opportunity to live and visit so many places. I truly love what I do.</h3>
  </div>
        <img class="basketball-image" src="static/images/basketball-image.jpg" alt="ball">
</div>
</div>


    </section>

{% include "footer.html"%}




