{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
        <h1>CONTACT ME </h1>
            <span class="subheading">Let's get in touch! Have questions? I have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p class="contact-info">Fill out the form below to send me a message. I will get back to you as soon as possible!</p>

              {{ wtf.quick_form(form, novalidate=True, button_map={'submit':'success'}) }}

      </div>
    </div>
  </div>
{% include "footer.html"%}
{% endblock %}

